.home-page {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;

    .home-page-wrapper {
        height: 100%;
        width: 90%;
        padding: 3.5rem;
        align-items: center;

        h1 {
            font-size: 7rem;
        }

        .navigate {
            margin-top: 30px;
            width: 30vw;

            .actions-wrapper {
                padding: 3rem;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                .btn {
                    font-size: 1.5rem;
                    font-weight: 600;
                    width: 15rem;

                    &:hover {
                        background-color: darken(#4db5ff, 50%);
                        color: white;
                    }
                }
            }
        }
    }
}