.loading-animation {
    height: 100vh;
    width: 100vw;

}

.todo-page {
    height: 100vh;
    width: 100vw;

    .page-body {
        height: 100%;
        width: 100%;

        .page-body-container {
            height:100%;
        }
    }
}