.list {
    padding: 1rem 1.5rem;
    max-height: 90%;
    width: 30%;
    border-right: 1px solid $clr-bg-variant;

    .list-header {
        padding: 1rem;
    }

    .preview {
        padding: 1rem;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(48, 48, 48);
        height: 5rem;

        &:hover {
            background: darken($clr-bg, 5%);
        }

        .user-btn {
            cursor: pointer;
        }
    }

    .active {
        background: darken($clr-bg, 3%);
    }
}